//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Birthstone+Bounce:wght@400;500&family=Courgette&family=Dancing+Script:wght@400;500;600&family=Ephesis&family=Fleur+De+Leah&family=IM+Fell+English+SC&family=Indie+Flower&family=Italianno&family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Patua+One&family=Roboto:ital,wght@0,400;0,500;0,900;1,400;1,500;1,700&family=Rubik+Beastly&family=Sacramento&family=Satisfy&family=Tangerine:wght@400;700&display=swap');
//Font Variable
$Roboto-Fonts:'Roboto', sans-serif;
$AbrialFatFace-Fonts:'Abril Fatface';
$Birthstone-Fonts:'Birthstone Bounce';
$Courgette-Fonts:'Courgette';
$Dancing-Fonts:'Dancing Script';
$Ephesis-Fonts:'Ephesis';
$Fleur-De-Leah-Fonts:'Fleur De Leah';
$Fell-English-Fonts:'IM Fell English SC', serif;
$Indie-Flower-Fonts:'Indie Flower';
$Poppins-Fonts:'Poppins', sans-serif;
//Color Variable
$whiteColor: #fff;
$darkBlueColor:#0e314c;
$greenColor:#44ce6f;
$purpleColor:#c679e3;
$secondpurcleColor:#edc3fc;
$greyNavColor:#4A6F8A;
$paragraphColor:#6084a4;
$greenBorderColor:#cdf1d8;
$navColor:#f3f3f3;
$darkOrangeColor:#eb6b3d;
$secondgreenColor:#cdf1d8;

// Media queri

$PhoneMin:280px;
$PhoneMax:550px;
$Tablet:767px;
$Desktop:1124px;
$FullHd:1920px;